@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 50;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2ad4ff 16.62%, #b0efff 85.61%);
}

.topcontatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 40px;
}

.homepesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 40px;
}

.menutopicos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 40px;
}